In [83]:
import pandas as pd 
import numpy as np 
from statsmodels.formula.api import ols

In [84]:
dataset = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/bootcamps/Personal_Loans.csv') 
dataset.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Securities Account,CD Account,Online,Gender,Area,Personal Loan,Loan Size
0,26,2,60,2,3.0,Undergrad,132,0,0,0,Male,Alameda,1,15
1,26,0,83,3,3.9,Postgrad,0,0,0,1,Female,Ventura,1,30
2,26,0,129,3,0.7,Postgrad,0,0,0,0,Male,Los Angeles,1,33
3,26,0,132,3,6.5,Professional,0,0,0,0,Female,Orange,1,40
4,26,2,132,2,2.4,Professional,0,0,0,0,Male,Alameda,1,35

In [85]:
dataset.shape

(4846, 14)

In [86]:
# Renaming the columns to the format of "col_name" 
dataset.columns = [column_name.replace(" ", "_") for column_name in dataset.columns] 

dataset.columns

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education',
       'Mortgage', 'Securities_Account', 'CD_Account', 'Online', 'Gender',
       'Area', 'Personal_Loan', 'Loan_Size'],
      dtype='object')

In [87]:
dataset.shape

(4846, 14)

In [88]:
# Creating dummy variables 
dataset_dummies = pd.get_dummies(dataset) 
dataset_dummies.head()

,Age,Experience,Income,Family,CCAvg,Mortgage,Securities_Account,CD_Account,Online,Personal_Loan,...,Area_Santa Cruz,Area_Shasta,Area_Siskiyou,Area_Solano,Area_Sonoma,Area_Stanislaus,Area_Trinity,Area_Tuolumne,Area_Ventura,Area_Yolo
0,26,2,60,2,3.0,132,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
1,26,0,83,3,3.9,0,0,0,1,1,...,False,False,False,False,False,False,False,False,True,False
2,26,0,129,3,0.7,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
3,26,0,132,3,6.5,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
4,26,2,132,2,2.4,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False

In [89]:
dataset_dummies.shape

(4846, 54)

In [90]:
# Reordering the columns 
# So that the target variable is at the end/last column
col_titles = [col for col in dataset_dummies.columns if col != "Loan_Size"] + ["Loan_Size"]

dataset_dummies = dataset_dummies.reindex(columns=col_titles)

# Include underscores in between col names
# E.g., Securities Account = Securities_Account
dataset_dummies.columns = [column.replace(" ", "_") for column in dataset_dummies.columns]

In [91]:
dataset_dummies.head()

,Age,Experience,Income,Family,CCAvg,Mortgage,Securities_Account,CD_Account,Online,Personal_Loan,...,Area_Shasta,Area_Siskiyou,Area_Solano,Area_Sonoma,Area_Stanislaus,Area_Trinity,Area_Tuolumne,Area_Ventura,Area_Yolo,Loan_Size
0,26,2,60,2,3.0,132,0,0,0,1,...,False,False,False,False,False,False,False,False,False,15
1,26,0,83,3,3.9,0,0,0,1,1,...,False,False,False,False,False,False,False,True,False,30
2,26,0,129,3,0.7,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,33
3,26,0,132,3,6.5,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,40
4,26,2,132,2,2.4,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,35

In [92]:
# Building the OLS - Regressing Line 
predictor_variables = [column for column in dataset_dummies.drop(columns=["Loan_Size"]).columns] 

target_variable = "Loan_Size"

formular_str = target_variable + " ~ " + "+".join(predictor_variables) 

model = ols(formular_str, dataset_dummies)

fitted_model = model.fit()

print(fitted_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Loan_Size   R-squared:                       0.923
Model:                            OLS   Adj. R-squared:                  0.922
Method:                 Least Squares   F-statistic:                     1154.
Date:                Wed, 12 Nov 2025   Prob (F-statistic):               0.00
Time:                        17:12:34   Log-Likelihood:                -11958.
No. Observations:                4846   AIC:                         2.402e+04
Df Residuals:                    4795   BIC:                         2.435e+04
Df Model:                          50
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                         -0.4085      0.348     -1.175      0.240      -1.090       0.273
Education_Postgrad[T.True]         0.0595      0.131      0.454      0.650      -0.198       0.317
Education_Professional[T.True]    -0.0020      0.138     -0.015      0.988      -0.273       0.269
Education_Undergrad[T.True]       -0.4660      0.125     -3.733      0.000      -0.711      -0.221
Gender_Female[T.True]             -0.1300      0.179     -0.726      0.468      -0.481       0.221
Gender_Male[T.True]               -0.2786      0.178     -1.562      0.118      -0.628       0.071
Area_Alameda[T.True]               0.0478      0.173      0.276      0.782      -0.292       0.387
Area_Butte[T.True]                -0.9427      0.671     -1.406      0.160      -2.258       0.372
Area_Contra_Costa[T.True]          0.0191      0.329      0.058      0.954      -0.626       0.664
Area_El_Dorado[T.True]            -0.1052      0.709     -0.148      0.882      -1.496       1.285
Area_Fresno[T.True]                0.1295      0.562      0.230      0.818      -0.972       1.231
Area_Humboldt[T.True]              0.5903      0.509      1.159      0.246      -0.408       1.589
Area_Imperial[T.True]              0.4955      1.619      0.306      0.760      -2.678       3.669
Area_Kern[T.True]                  0.1843      0.407      0.453      0.650      -0.613       0.981
Area_Lake[T.True]                  0.0786      1.405      0.056      0.955      -2.675       2.832
Area_Los_Angeles[T.True]          -0.2619      0.149     -1.757      0.079      -0.554       0.030
Area_Marin[T.True]                -0.3777      0.407     -0.929      0.353      -1.175       0.420
Area_Mendocino[T.True]            -0.7001      0.997     -0.702      0.482      -2.654       1.254
Area_Merced[T.True]               -0.4381      1.404     -0.312      0.755      -3.190       2.314
Area_Monterey[T.True]             -0.3586      0.280     -1.280      0.200      -0.908       0.190
Area_Napa[T.True]                  0.3039      1.619      0.188      0.851      -2.870       3.478
Area_Orange[T.True]               -0.2167      0.198     -1.096      0.273      -0.604       0.171
Area_Placer[T.True]               -0.2872      0.584     -0.492      0.623      -1.431       0.857
Area_Riverside[T.True]            -0.7691      0.396     -1.942      0.052      -1.546       0.007
Area_Sacramento[T.True]           -0.1243      0.243     -0.512      0.608      -0.600       0.351
Area_San_Benito[T.True]            0.1949      0.817      0.239      0.811      -1.407       1.797
Area_San_Bernardino[T.True]       -0.0093      0.307     -0.030      0.976      -0.611       0.592
Area_San_Diego[T.True]             0.0509      0.171      0.298      0.765      -0.284       0.385
Area_San_Francisco[T.True]        -0.2745      0.215     -1.275      0.202      -0.697       0.148
Area_San_Joaquin[T.True]           1.2819      0.816      1.571      0.116      -0.318       2.881
Area_San_Luis_Obispo[T.True]       0.4702      0.518      0.908      0.364      -0.545       1.485
Area_San_Mateo[T.True]             0.0543      0.246      0.221      0.825      -0.427       0.536
Area_Santa_Barbara[T.True]        -0.3015      0.260     -1.161      0.246      -0.810       0.208
Area_Santa_Clara[T.True]          -0.0993      0.169     -0.588      0.557      -0.431       0.232
Area_Santa_Cruz[T.True]           -0.1196      0.363     -0.330      0.741      -0.830       0.591
Area_Shasta[T.True]                0.6807      0.690      0.986      0.324      -0.672       2.034
Area_Siskiyou[T.True]              0.1842      1.147      0.161      0.872      -2.065       2.434
Area_Solano[T.True]               -0.2982      0.509     -0.586      0.558      -1.296       0.700
Area_Sonoma[T.True]               -0.1331      0.553     -0.241      0.810      -1.217       0.951
Area_Stanislaus[T.True]            0.6245      0.785      0.796      0.426      -0.914       2.163
Area_Trinity[T.True]              -0.9127      1.403     -0.651      0.515      -3.663       1.838
Area_Tuolumne[T.True]              0.7158      1.148      0.624      0.533      -1.535       2.966
Area_Ventura[T.True]               0.3128      0.293      1.067      0.286      -0.262       0.888
Area_Yolo[T.True]                 -0.0981      0.276     -0.356      0.722      -0.639       0.442
Age                                0.0010      0.024      0.042      0.966      -0.047       0.049
Experience                        -0.0081      0.024     -0.332      0.740      -0.056       0.040
Income                             0.0104      0.001      7.683      0.000       0.008       0.013
Family                             0.1529      0.037      4.087      0.000       0.080       0.226
CCAvg                              0.2525      0.031      8.112      0.000       0.192       0.314
Mortgage                          -0.0082      0.000    -19.632      0.000      -0.009      -0.007
Securities_Account                 0.0446      0.144      0.311      0.756      -0.237       0.326
CD_Account                         0.0526      0.198      0.266      0.791      -0.336       0.441
Online                            -0.0580      0.086     -0.674      0.501      -0.227       0.111
Personal_Loan                     32.1025      0.179    179.261      0.000      31.751      32.454
==============================================================================
Omnibus:                     1057.029   Durbin-Watson:                   1.672
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            45550.753
Skew:                           0.076   Prob(JB):                         0.00
Kurtosis:                      18.019   Cond. No.                     6.06e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.35e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [93]:
# Encoding the Dummary Variables using 
# drop_first = True to avoid the Dummy Variable Trap 

new_dataset_dummies = pd.get_dummies(dataset, drop_first=True) 

# Include underscores in between col names
# E.g., Securities Account = Securities_Account
new_dataset_dummies.columns = [column.replace(" ", "_") for column in new_dataset_dummies.columns]

new_dataset_dummies.head()

,Age,Experience,Income,Family,CCAvg,Mortgage,Securities_Account,CD_Account,Online,Personal_Loan,...,Area_Santa_Cruz,Area_Shasta,Area_Siskiyou,Area_Solano,Area_Sonoma,Area_Stanislaus,Area_Trinity,Area_Tuolumne,Area_Ventura,Area_Yolo
0,26,2,60,2,3.0,132,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
1,26,0,83,3,3.9,0,0,0,1,1,...,False,False,False,False,False,False,False,False,True,False
2,26,0,129,3,0.7,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
3,26,0,132,3,6.5,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False
4,26,2,132,2,2.4,0,0,0,0,1,...,False,False,False,False,False,False,False,False,False,False

In [94]:
new_dataset_dummies.shape

(4846, 51)

In [95]:
# Fitting the model with the new Dummies 

# Extract the target variables 
new_predictor_variables = [column for column in new_dataset_dummies.drop(columns=["Loan_Size"]).columns] 

# Model the formular string 
new_formular_str = target_variable + " ~ " + "+".join(new_predictor_variables) 

new_model = ols(new_formular_str, new_dataset_dummies) 

fitted_new_model = new_model.fit() 

print(fitted_new_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Loan_Size   R-squared:                       0.923
Model:                            OLS   Adj. R-squared:                  0.922
Method:                 Least Squares   F-statistic:                     1154.
Date:                Wed, 12 Nov 2025   Prob (F-statistic):               0.00
Time:                        17:12:34   Log-Likelihood:                -11958.
No. Observations:                4846   AIC:                         2.402e+04
Df Residuals:                    4795   BIC:                         2.435e+04
Df Model:                          50
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                         -0.4311      0.653     -0.660      0.509      -1.712       0.850
Education_Professional[T.True]    -0.0616      0.110     -0.557      0.577      -0.278       0.155
Education_Undergrad[T.True]       -0.5256      0.107     -4.911      0.000      -0.735      -0.316
Gender_Male[T.True]               -0.1486      0.083     -1.791      0.073      -0.311       0.014
Area_Butte[T.True]                -0.9906      0.689     -1.438      0.151      -2.341       0.360
Area_Contra_Costa[T.True]         -0.0287      0.338     -0.085      0.932      -0.692       0.634
Area_El_Dorado[T.True]            -0.1530      0.729     -0.210      0.834      -1.582       1.276
Area_Fresno[T.True]                0.0816      0.577      0.141      0.888      -1.050       1.213
Area_Humboldt[T.True]              0.5425      0.523      1.037      0.300      -0.483       1.568
Area_Imperial[T.True]              0.4477      1.662      0.269      0.788      -2.811       3.707
Area_Kern[T.True]                  0.1364      0.418      0.326      0.744      -0.683       0.956
Area_Lake[T.True]                  0.0308      1.443      0.021      0.983      -2.798       2.860
Area_Los_Angeles[T.True]          -0.3097      0.154     -2.011      0.044      -0.612      -0.008
Area_Marin[T.True]                -0.4255      0.418     -1.018      0.309      -1.245       0.394
Area_Mendocino[T.True]            -0.7479      1.024     -0.731      0.465      -2.755       1.259
Area_Merced[T.True]               -0.4859      1.441     -0.337      0.736      -3.312       2.340
Area_Monterey[T.True]             -0.4064      0.288     -1.411      0.158      -0.971       0.158
Area_Napa[T.True]                  0.2561      1.663      0.154      0.878      -3.004       3.516
Area_Orange[T.True]               -0.2645      0.204     -1.298      0.194      -0.664       0.135
Area_Placer[T.True]               -0.3350      0.600     -0.559      0.576      -1.510       0.840
Area_Riverside[T.True]            -0.8169      0.407     -2.006      0.045      -1.615      -0.019
Area_Sacramento[T.True]           -0.1721      0.250     -0.689      0.491      -0.662       0.318
Area_San_Benito[T.True]            0.1471      0.839      0.175      0.861      -1.498       1.793
Area_San_Bernardino[T.True]       -0.0572      0.316     -0.181      0.856      -0.676       0.561
Area_San_Diego[T.True]             0.0031      0.176      0.018      0.986      -0.342       0.348
Area_San_Francisco[T.True]        -0.3223      0.222     -1.454      0.146      -0.757       0.112
Area_San_Joaquin[T.True]           1.2340      0.838      1.472      0.141      -0.409       2.877
Area_San_Luis_Obispo[T.True]       0.4224      0.532      0.794      0.427      -0.620       1.465
Area_San_Mateo[T.True]             0.0065      0.253      0.026      0.979      -0.489       0.502
Area_Santa_Barbara[T.True]        -0.3493      0.267     -1.307      0.191      -0.873       0.175
Area_Santa_Clara[T.True]          -0.1471      0.174     -0.844      0.398      -0.489       0.194
Area_Santa_Cruz[T.True]           -0.1674      0.373     -0.449      0.653      -0.898       0.564
Area_Shasta[T.True]                0.6329      0.709      0.893      0.372      -0.756       2.022
Area_Siskiyou[T.True]              0.1364      1.179      0.116      0.908      -2.174       2.447
Area_Solano[T.True]               -0.3460      0.523     -0.661      0.508      -1.372       0.680
Area_Sonoma[T.True]               -0.1809      0.568     -0.319      0.750      -1.294       0.932
Area_Stanislaus[T.True]            0.5767      0.806      0.715      0.474      -1.004       2.157
Area_Trinity[T.True]              -0.9605      1.441     -0.667      0.505      -3.785       1.864
Area_Tuolumne[T.True]              0.6680      1.179      0.567      0.571      -1.644       2.980
Area_Ventura[T.True]               0.2650      0.301      0.879      0.380      -0.326       0.856
Area_Yolo[T.True]                 -0.1459      0.283     -0.515      0.607      -0.702       0.410
Age                                0.0010      0.024      0.042      0.966      -0.047       0.049
Experience                        -0.0081      0.024     -0.332      0.740      -0.056       0.040
Income                             0.0104      0.001      7.683      0.000       0.008       0.013
Family                             0.1529      0.037      4.087      0.000       0.080       0.226
CCAvg                              0.2525      0.031      8.112      0.000       0.192       0.314
Mortgage                          -0.0082      0.000    -19.632      0.000      -0.009      -0.007
Securities_Account                 0.0446      0.144      0.311      0.756      -0.237       0.326
CD_Account                         0.0526      0.198      0.266      0.791      -0.336       0.441
Online                            -0.0580      0.086     -0.674      0.501      -0.227       0.111
Personal_Loan                     32.1025      0.179    179.261      0.000      31.751      32.454
==============================================================================
Omnibus:                     1057.029   Durbin-Watson:                   1.672
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            45550.753
Skew:                           0.076   Prob(JB):                         0.00
Kurtosis:                      18.019   Cond. No.                     5.42e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.42e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [96]:
# Lets consider variable selection by correlation and significance 

correlation_matrix = new_dataset_dummies.corr()["Loan_Size"].sort_values(ascending=False)
correlation_matrix

Loan_Size                 1.000000
Personal_Loan             0.955495
Income                    0.515645
CCAvg                     0.398250
CD_Account                0.296944
Education_Professional    0.091847
Family                    0.067339
Mortgage                  0.065089
Area_Santa_Clara          0.038019
Area_Sonoma               0.029814
Securities_Account        0.024090
Area_Contra_Costa         0.021899
Area_Shasta               0.019341
Area_San_Diego            0.017113
Area_San_Luis_Obispo      0.016299
Area_Kern                 0.014590
Area_Monterey             0.009898
Area_Ventura              0.007358
Area_Marin                0.004675
Online                    0.004077
Area_San_Joaquin          0.003724
Area_Los_Angeles          0.002802
Area_Santa_Cruz           0.002504
Area_Stanislaus           0.000004
Area_Mendocino           -0.000414
Area_Solano              -0.002067
Area_Fresno              -0.002736
Area_Riverside           -0.002958
Area_Humboldt            -0.003303
Area_Butte               -0.003667
Area_Placer              -0.003857
Gender_Male              -0.005823
Area_Imperial            -0.007803
Area_Napa                -0.007803
Area_Lake                -0.009011
Area_Trinity             -0.009011
Area_Merced              -0.009011
Area_Siskiyou            -0.011038
Area_Tuolumne            -0.011038
Area_Orange              -0.011183
Area_Sacramento          -0.012344
Area_San_Benito          -0.015620
Age                      -0.017247
Experience               -0.017268
Area_El_Dorado           -0.018044
Area_Santa_Barbara       -0.018594
Area_Yolo                -0.019163
Area_San_Francisco       -0.020435
Area_San_Mateo           -0.021168
Area_San_Bernardino      -0.030833
Education_Undergrad      -0.154798
Name: Loan_Size, dtype: float64

In [97]:
# Get the p_values for each predictor 
from scipy.stats import pearsonr 

my_dict = dict() 

for column in new_dataset_dummies.columns:
    coef, p_value = pearsonr(new_dataset_dummies[column], new_dataset_dummies[target_variable])

    my_dict[column] = {
        "Coefficient": coef,
        "P Value": np.round(p_value, 6)
    } 

df = pd.DataFrame(my_dict).T 
df.head()

            Coefficient   P Value
Age           -0.017247  0.229978
Experience    -0.017268  0.229413
Income         0.515645  0.000000
Family         0.067339  0.000003
CCAvg          0.398250  0.000000

In [98]:
df.sort_values(by="P Value")

                        Coefficient   P Value
Income                     0.515645  0.000000
CCAvg                      0.398250  0.000000
CD_Account                 0.296944  0.000000
Personal_Loan              0.955495  0.000000
Education_Undergrad       -0.154798  0.000000
Education_Professional     0.091847  0.000000
Loan_Size                  1.000000  0.000000
Family                     0.067339  0.000003
Mortgage                   0.065089  0.000006
Area_Santa_Clara           0.038019  0.008123
Area_San_Bernardino       -0.030833  0.031848
Area_Sonoma                0.029814  0.037954
Securities_Account         0.024090  0.093584
Area_Contra_Costa          0.021899  0.127448
Area_San_Mateo            -0.021168  0.140646
Area_San_Francisco        -0.020435  0.154933
Area_Shasta                0.019341  0.178242
Area_Yolo                 -0.019163  0.182266
Area_Santa_Barbara        -0.018594  0.195617
Area_El_Dorado            -0.018044  0.209156
Experience                -0.017268  0.229413
Age                       -0.017247  0.229978
Area_San_Diego             0.017113  0.233615
Area_San_Luis_Obispo       0.016299  0.256632
Area_San_Benito           -0.015620  0.276967
Area_Kern                  0.014590  0.309907
Area_Sacramento           -0.012344  0.390292
Area_Orange               -0.011183  0.436398
Area_Siskiyou             -0.011038  0.442346
Area_Tuolumne             -0.011038  0.442346
Area_Monterey              0.009898  0.490891
Area_Lake                 -0.009011  0.530576
Area_Merced               -0.009011  0.530576
Area_Trinity              -0.009011  0.530576
Area_Imperial             -0.007803  0.587096
Area_Napa                 -0.007803  0.587096
Area_Ventura               0.007358  0.608595
Gender_Male               -0.005823  0.685265
Area_Marin                 0.004675  0.744922
Online                     0.004077  0.776589
Area_Placer               -0.003857  0.788379
Area_San_Joaquin           0.003724  0.795479
Area_Butte                -0.003667  0.798548
Area_Humboldt             -0.003303  0.818186
Area_Riverside            -0.002958  0.836897
Area_Los_Angeles           0.002802  0.845386
Area_Fresno               -0.002736  0.849009
Area_Santa_Cruz            0.002504  0.861650
Area_Solano               -0.002067  0.885642
Area_Mendocino            -0.000414  0.977016
Area_Stanislaus            0.000004  0.999752

In [99]:
# Extract variables with P Value less than 0.05 significance level 
significant_predictors = list(df[df["P Value"] < 0.05].index)

# Drop the target variable from the list of predictors
significant_predictors.pop(significant_predictors.index(target_variable))

# This are the predictors that are statistically significant for the model
significant_predictors

['Income',
 'Family',
 'CCAvg',
 'Mortgage',
 'CD_Account',
 'Personal_Loan',
 'Education_Professional',
 'Education_Undergrad',
 'Area_San_Bernardino',
 'Area_Santa_Clara',
 'Area_Sonoma']

In [100]:
# Extracting the significant df 
significant_df = new_dataset_dummies[significant_predictors] 
target_variable_values = new_dataset_dummies[target_variable]

In [101]:
corr = significant_df.corr().T
corr

,Income,Family,CCAvg,Mortgage,CD_Account,Personal_Loan,Education_Professional,Education_Undergrad,Area_San_Bernardino,Area_Santa_Clara,Area_Sonoma
Income,1.000000,-0.156079,0.644302,0.210611,0.169919,0.504979,-0.102700,0.209267,0.021637,0.033587,-0.000775
Family,-0.156079,1.000000,-0.106280,-0.020653,0.014386,0.061375,-0.010968,-0.117909,-0.035889,0.006504,0.015329
CCAvg,0.644302,-0.106280,1.000000,0.114429,0.135701,0.368130,-0.077110,0.150126,0.000288,0.004966,0.023888
Mortgage,0.210611,-0.020653,0.114429,1.000000,0.091747,0.143598,-0.013030,0.043906,0.021045,-0.012633,0.008713
CD_Account,0.169919,0.014386,0.135701,0.091747,1.000000,0.312914,0.010973,-0.016942,-0.030362,0.022754,0.039426
Personal_Loan,0.504979,0.061375,0.368130,0.143598,0.312914,1.000000,0.095241,-0.153779,-0.032610,0.036866,0.031593
Education_Professional,-0.102700,-0.010968,-0.077110,-0.013030,0.010973,0.095241,1.000000,-0.557776,-0.026630,-0.022901,-0.018218
Education_Undergrad,0.209267,-0.117909,0.150126,0.043906,-0.016942,-0.153779,-0.557776,1.000000,0.032272,-0.010727,-0.008255
Area_San_Bernardino,0.021637,-0.035889,0.000288,0.021045,-0.030362,-0.032610,-0.026630,0.032272,1.000000,-0.052988,-0.010810
Area_Santa_Clara,0.033587,0.006504,0.004966,-0.012633,0.022754,0.036866,-0.022901,-0.010727,-0.052988,1.000000,-0.027465
Area_Sonoma,-0.000775,0.015329,0.023888,0.008713,0.039426,0.031593,-0.018218,-0.008255,-0.010810,-0.027465,1.000000

In [102]:
corr[np.abs(corr) > 0.9]

,Income,Family,CCAvg,Mortgage,CD_Account,Personal_Loan,Education_Professional,Education_Undergrad,Area_San_Bernardino,Area_Santa_Clara,Area_Sonoma
Income,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Family,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CCAvg,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Mortgage,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CD_Account,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
Personal_Loan,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
Education_Professional,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
Education_Undergrad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
Area_San_Bernardino,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
Area_Santa_Clara,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
Area_Sonoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [103]:
row, col = np.where(np.abs(corr) == 1)

row

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [104]:
corr

,Income,Family,CCAvg,Mortgage,CD_Account,Personal_Loan,Education_Professional,Education_Undergrad,Area_San_Bernardino,Area_Santa_Clara,Area_Sonoma
Income,1.000000,-0.156079,0.644302,0.210611,0.169919,0.504979,-0.102700,0.209267,0.021637,0.033587,-0.000775
Family,-0.156079,1.000000,-0.106280,-0.020653,0.014386,0.061375,-0.010968,-0.117909,-0.035889,0.006504,0.015329
CCAvg,0.644302,-0.106280,1.000000,0.114429,0.135701,0.368130,-0.077110,0.150126,0.000288,0.004966,0.023888
Mortgage,0.210611,-0.020653,0.114429,1.000000,0.091747,0.143598,-0.013030,0.043906,0.021045,-0.012633,0.008713
CD_Account,0.169919,0.014386,0.135701,0.091747,1.000000,0.312914,0.010973,-0.016942,-0.030362,0.022754,0.039426
Personal_Loan,0.504979,0.061375,0.368130,0.143598,0.312914,1.000000,0.095241,-0.153779,-0.032610,0.036866,0.031593
Education_Professional,-0.102700,-0.010968,-0.077110,-0.013030,0.010973,0.095241,1.000000,-0.557776,-0.026630,-0.022901,-0.018218
Education_Undergrad,0.209267,-0.117909,0.150126,0.043906,-0.016942,-0.153779,-0.557776,1.000000,0.032272,-0.010727,-0.008255
Area_San_Bernardino,0.021637,-0.035889,0.000288,0.021045,-0.030362,-0.032610,-0.026630,0.032272,1.000000,-0.052988,-0.010810
Area_Santa_Clara,0.033587,0.006504,0.004966,-0.012633,0.022754,0.036866,-0.022901,-0.010727,-0.052988,1.000000,-0.027465
Area_Sonoma,-0.000775,0.015329,0.023888,0.008713,0.039426,0.031593,-0.018218,-0.008255,-0.010810,-0.027465,1.000000

In [105]:
rows, cols = np.where(np.abs(corr) > 0.9)

rows

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [106]:
cols

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [107]:
corr

,Income,Family,CCAvg,Mortgage,CD_Account,Personal_Loan,Education_Professional,Education_Undergrad,Area_San_Bernardino,Area_Santa_Clara,Area_Sonoma
Income,1.000000,-0.156079,0.644302,0.210611,0.169919,0.504979,-0.102700,0.209267,0.021637,0.033587,-0.000775
Family,-0.156079,1.000000,-0.106280,-0.020653,0.014386,0.061375,-0.010968,-0.117909,-0.035889,0.006504,0.015329
CCAvg,0.644302,-0.106280,1.000000,0.114429,0.135701,0.368130,-0.077110,0.150126,0.000288,0.004966,0.023888
Mortgage,0.210611,-0.020653,0.114429,1.000000,0.091747,0.143598,-0.013030,0.043906,0.021045,-0.012633,0.008713
CD_Account,0.169919,0.014386,0.135701,0.091747,1.000000,0.312914,0.010973,-0.016942,-0.030362,0.022754,0.039426
Personal_Loan,0.504979,0.061375,0.368130,0.143598,0.312914,1.000000,0.095241,-0.153779,-0.032610,0.036866,0.031593
Education_Professional,-0.102700,-0.010968,-0.077110,-0.013030,0.010973,0.095241,1.000000,-0.557776,-0.026630,-0.022901,-0.018218
Education_Undergrad,0.209267,-0.117909,0.150126,0.043906,-0.016942,-0.153779,-0.557776,1.000000,0.032272,-0.010727,-0.008255
Area_San_Bernardino,0.021637,-0.035889,0.000288,0.021045,-0.030362,-0.032610,-0.026630,0.032272,1.000000,-0.052988,-0.010810
Area_Santa_Clara,0.033587,0.006504,0.004966,-0.012633,0.022754,0.036866,-0.022901,-0.010727,-0.052988,1.000000,-0.027465
Area_Sonoma,-0.000775,0.015329,0.023888,0.008713,0.039426,0.031593,-0.018218,-0.008255,-0.010810,-0.027465,1.000000

In [108]:
off_diagonal = np.where(rows != cols)

In [109]:
off_diagonal

(array([], dtype=int64),)

In [ ]:
dataset.head()

In [ ]:
# Using the variance threshold to select variables. 
# Based on variances of each predictor and does not consider the relationship of predictors with the target vari
# variable.
# The predictors have to be on the same scale so we have to normalize our data fast. 
from sklearn.preprocessing import MinMaxScaler

# Step 1: Carry Variable Extraction (X and Y) 
X_col_names = new_dataset_dummies.drop(columns=["Loan_Size"]).columns
y_col_name = "Loan_Size" 
X_values_df = new_dataset_dummies[X_col_names]

# Step 2: Do the scalling 
scaler = MinMaxScaler()

X_scaled = scaler.fit_transform(X_values_df) 

X_normalized_df = pd.DataFrame(data=X_scaled, columns=X_col_names) 

X_normalized_df.describe()

In [112]:
# Variance Thresholding in sklearn 
from sklearn.feature_selection import VarianceThreshold 

# Create a VarianceTHreshold Object 
selector = VarianceThreshold(threshold=0.03) 

# Using the aobject to apply threshold to the data 
selector.fit(X_normalized_df)

VarianceThreshold(threshold=0.03)

In [115]:
# Accessing the variances for each predictor 
column_variances = selector.variances_ 

my_dict_2 = dict()

my_dict_2 = [{"Variance Name": column_name, "Varianace": column_variance} for column_name, column_variance in zip(X_normalized_df.columns, column_variances)]

In [118]:
my_df = pd.DataFrame(my_dict_2)

In [134]:
selector.get_support(indices=True)
X_normalized_df.columns[selector.get_support(indices=True)]

Index(['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Securities_Account',
       'CD_Account', 'Online', 'Personal_Loan', 'Education_Professional',
       'Education_Undergrad', 'Gender_Male', 'Area_Los_Angeles', 'Area_Orange',
       'Area_Sacramento', 'Area_San_Diego', 'Area_San_Francisco',
       'Area_San_Mateo', 'Area_Santa_Clara'],
      dtype='object')

In [130]:
X_normalized_df.columns[[0, 2, 4]]

Index(['Age', 'Income', 'CCAvg'], dtype='object')

In [121]:
X_new_df = X_normalized_df[X_normalized_df.columns[selector.get_support(indices=True)]] 

X_variable_names = X_new_df.columns 

X_new_df.head()

,Age,Experience,Income,Family,CCAvg,Securities_Account,CD_Account,Online,Personal_Loan,Education_Professional,Education_Undergrad,Gender_Male,Area_Los_Angeles,Area_Orange,Area_Sacramento,Area_San_Diego,Area_San_Francisco,Area_San_Mateo,Area_Santa_Clara
0,0.068182,0.046512,0.240741,0.333333,0.30,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.068182,0.000000,0.347222,0.666667,0.39,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.068182,0.000000,0.560185,0.666667,0.07,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.068182,0.000000,0.574074,0.666667,0.65,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.068182,0.046512,0.574074,0.333333,0.24,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [122]:
X_new_df.shape

(4846, 19)

In [135]:
my_dataset = new_dataset_dummies.copy()

In [145]:
# Step 1: Extract X and Y variables 
X_var_names = my_dataset.drop(columns=["Loan_Size"]).columns
Y_var_name = "Loan_Size"

# Step 2: Extracting data for X_var_names 
X_data_df = my_dataset[X_var_names]
y_data = my_dataset[Y_var_name] 

# Step 3: Normalize the data 
scaler_object = MinMaxScaler()
X_data_df_scaled = scaler_object.fit_transform(X_data_df) 
X_data_df_normalized = pd.DataFrame(data=X_data_df_scaled, columns=X_data_df.columns) 

# Step 4: Variance Thresholding 
my_selector = VarianceThreshold(threshold=0.03)
my_selector.fit(X_data_df_normalized) 

# Extract Variances
my_variances = my_selector.variances_ 

# Exxtracting significant columns 
my_significant_columns_df = X_data_df_normalized[X_data_df_normalized.columns[my_selector.get_support(indices=True)]]
my_significant_columns_df

,Age,Experience,Income,Family,CCAvg,Securities_Account,CD_Account,Online,Personal_Loan,Education_Professional,Education_Undergrad,Gender_Male,Area_Los_Angeles,Area_Orange,Area_Sacramento,Area_San_Diego,Area_San_Francisco,Area_San_Mateo,Area_Santa_Clara
0,0.068182,0.046512,0.240741,0.333333,0.30,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.068182,0.000000,0.347222,0.666667,0.39,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.068182,0.000000,0.560185,0.666667,0.07,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.068182,0.000000,0.574074,0.666667,0.65,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.068182,0.046512,0.574074,0.333333,0.24,0.0,0.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4841,1.000000,0.953488,0.324074,1.000000,0.24,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4842,1.000000,1.000000,0.328704,1.000000,0.17,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4843,1.000000,1.000000,0.449074,1.000000,0.17,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4844,1.000000,0.953488,0.481481,0.000000,0.20,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4845,1.000000,0.953488,0.490741,1.000000,0.24,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [149]:
my_selector_2 = VarianceThreshold(threshold=0.1).fit(X_data_df_normalized)
my_selector_3 = VarianceThreshold(threshold=0.15).fit(X_data_df_normalized)

my_variances_2 = my_selector_2.variances_
my_variances_3 = my_selector_3.variances_ 

my_significant_columns_df_2 = X_data_df_normalized[X_data_df_normalized.columns[my_selector_2.get_support(indices=True)]]
my_signifcant_columns_df_3 = X_data_df_normalized[X_data_df_normalized.columns[my_selector_3.get_support(indices=True)]]

In [150]:
my_significant_columns_df_2.shape

(4846, 8)

In [151]:
my_signifcant_columns_df_3.shape

(4846, 5)

In [155]:
# Fitting the OLS model with a threshold of 0.03 
from statsmodels.formula.api import ols

my_predictors = list(my_significant_columns_df.columns) 
my_response_variable = "Loan_Size"

new_formular_str = my_response_variable + " ~ " + "+".join(my_predictors) 
my_new_model = ols(new_formular_str, my_dataset) 


my_new_model_fitted = my_new_model.fit() 
print(my_new_model_fitted.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Loan_Size   R-squared:                       0.917
Model:                            OLS   Adj. R-squared:                  0.916
Method:                 Least Squares   F-statistic:                     2797.
Date:                Wed, 12 Nov 2025   Prob (F-statistic):               0.00
Time:                        22:20:34   Log-Likelihood:                -12156.
No. Observations:                4846   AIC:                         2.435e+04
Df Residuals:                    4826   BIC:                         2.448e+04
Df Model:                          19
Covariance Type:            nonrobust
==================================================================================================
                                     coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
Intercept                         -0.5420      0.668     -0.812      0.417      -1.851       0.767
Education_Professional[T.True]    -0.0707      0.114     -0.619      0.536      -0.295       0.153
Education_Undergrad[T.True]       -0.5534      0.111     -4.998      0.000      -0.770      -0.336
Gender_Male[T.True]               -0.1451      0.086     -1.691      0.091      -0.313       0.023
Area_Los_Angeles[T.True]          -0.2131      0.116     -1.836      0.066      -0.441       0.014
Area_Orange[T.True]               -0.1742      0.181     -0.963      0.336      -0.529       0.180
Area_Sacramento[T.True]           -0.1934      0.235     -0.824      0.410      -0.654       0.267
Area_San_Diego[T.True]             0.0822      0.146      0.563      0.574      -0.204       0.368
Area_San_Francisco[T.True]        -0.2718      0.202     -1.344      0.179      -0.668       0.125
Area_San_Mateo[T.True]             0.0709      0.239      0.297      0.766      -0.397       0.539
Area_Santa_Clara[T.True]          -0.0091      0.144     -0.063      0.949      -0.291       0.273
Age                               -0.0066      0.025     -0.261      0.794      -0.056       0.043
Experience                        -0.0004      0.025     -0.016      0.987      -0.050       0.049
Income                             0.0067      0.001      4.818      0.000       0.004       0.009
Family                             0.1514      0.039      3.911      0.000       0.075       0.227
CCAvg                              0.2718      0.032      8.437      0.000       0.209       0.335
Securities_Account                 0.1000      0.149      0.672      0.502      -0.192       0.392
CD_Account                        -0.1515      0.205     -0.740      0.459      -0.553       0.250
Online                            -0.0269      0.089     -0.301      0.763      -0.202       0.148
Personal_Loan                     31.9851      0.185    172.446      0.000      31.621      32.349
==============================================================================
Omnibus:                     1125.301   Durbin-Watson:                   1.716
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            60703.112
Skew:                           0.050   Prob(JB):                         0.00
Kurtosis:                      20.339   Cond. No.                     1.53e+03
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.53e+03. This might indicate that there are
strong multicollinearity or other numerical problems.