<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Code_challenge.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Graded code challenge: Logistic regression

⚠️ **Note that this code challenge is graded and will contribute to your overall marks for this module.**

## Learning objectives

By the end of this coding challenge, you should be able to:
- Implement a logistic regression model from scratch to solve a classification problem.
- Apply learned concepts to preprocess data, fit the model, and evaluate its performance.
- Enhance problem-solving skills by addressing a real-world classification challenge.

## Honour code

I **ROGERS MACHARIA**, **MUTHONI**, confirm - by submitting this document - that the solutions in this notebook are a result of my own work.
The use of StackOverflow, Google, and other online tools is permitted. However, copying a fellow student's code is not permissible and is considered a breach of the Honour code. Doing this will result in a mark of 0%.

## Overview

Within this coding challenge, we begin our practical experience of building models for classification problems. We do so with a basic logistic regression model.   

<br></br>

<div align="center" style="width: 600px; font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/credit_card.jpg"
     alt="Learn good habits to avoid modelling debt"
     style="float: center; padding-bottom=0.5em"
     width=600px/>
Learn good habits to avoid modelling debt... Photo by <a href="https://unsplash.com/@rupixen?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText"> Rupixen.com </a> on Unsplash.
</div>

The structure of this notebook is as follows:

 - First, we will start off by loading and viewing the dataset.
 - We will see that the dataset has a mixture of both numerical and non-numerical features, that it contains values from different ranges, and that it contains a number of missing entries.
 - Based upon the observations above, we will preprocess the dataset to ensure the machine learning model we choose can make good predictions.
 - Once our data are in good shape, we will do some exploratory data analysis to build our intuitions.
 - Finally, we will build a machine learning model that can predict if an individual's application for a credit card will be accepted.

### Imports

In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import roc_auc_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import f1_score

## The dataset
We'll use the [Credit Card Approval dataset](http://archive.ics.uci.edu/ml/datasets/credit+approval) from the UCI Machine Learning Repository.
    
We explore the variables within this dataset in the sections below.

### Reading in the data

First, loading and viewing the dataset. We find that since this data are confidential, the contributor of the dataset has anonymised the feature names.

In [255]:
df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/89fee4463f428f55d31a254924e18501a3c468c3/Data/classification_sprint/cc_approvals.data',header=None)
df.head()

  0      1      2  3  4  5  6     7  8  9   10 11 12     13   14 15
0  b  30.83  0.000  u  g  w  v  1.25  t  t   1  f  g  00202    0  +
1  a  58.67  4.460  u  g  q  h  3.04  t  t   6  f  g  00043  560  +
2  a  24.50  0.500  u  g  q  h  1.50  t  f   0  f  g  00280  824  +
3  b  27.83  1.540  u  g  w  v  3.75  t  t   5  t  g  00100    3  +
4  b  20.17  5.625  u  g  w  v  1.71  t  f   0  f  s  00120    0  +

The output may appear a bit confusing at first glance, but let's try to figure out the most important features of a credit card application. The features of this dataset have been anonymised to protect privacy, but [this blog](http://rstudio-pubs-static.s3.amazonaws.com/73039_9946de135c0a49daa7a0a9eda4a67a72.html) gives us a pretty good overview of the probable features. The probable features in a typical credit card application are <code>Gender</code>, <code>Age</code>, <code>Debt</code>, <code>Married</code>, <code>BankCustomer</code>, <code>EducationLevel</code>, <code>Ethnicity</code>, <code>YearsEmployed</code>, <code>PriorDefault</code>, <code>Employed</code>, <code>CreditScore</code>, <code>DriversLicense</code>, <code>Citizen</code>, <code>ZipCode</code>, <code>Income</code>, and finally, <code>ApprovalStatus</code>. 

This gives us a pretty good starting point, and we can map these features with respect to the columns in the output.   

As we can see from our first glance at the data, the dataset has a mixture of numerical and non-numerical features. This can be fixed with some preprocessing.

In [256]:
df.tail(20)

    0      1       2  3  4   5   6      7  8  9   10 11 12     13   14 15
670  b  47.17   5.835  u  g   w   v  5.500  f  f   0  f  g  00465  150  -
671  b  25.83  12.835  u  g  cc   v  0.500  f  f   0  f  g  00000    2  -
672  a  50.25   0.835  u  g  aa   v  0.500  f  f   0  t  g  00240  117  -
673  ?  29.50   2.000  y  p   e   h  2.000  f  f   0  f  g  00256   17  -
674  a  37.33   2.500  u  g   i   h  0.210  f  f   0  f  g  00260  246  -
675  a  41.58   1.040  u  g  aa   v  0.665  f  f   0  f  g  00240  237  -
676  a  30.58  10.665  u  g   q   h  0.085  f  t  12  t  g  00129    3  -
677  b  19.42   7.250  u  g   m   v  0.040  f  t   1  f  g  00100    1  -
678  a  17.92  10.210  u  g  ff  ff  0.000  f  f   0  f  g  00000   50  -
679  a  20.08   1.250  u  g   c   v  0.000  f  f   0  f  g  00000    0  -
680  b  19.50   0.290  u  g   k   v  0.290  f  f   0  f  g  00280  364  -
681  b  27.83   1.000  y  p   d   h  3.000  f  f   0  f  g  00176  537  -
682  b  17.08   3.290  u  g   i   v  0.335  f  f   0  t  g  00140    2  -
683  b  36.42   0.750  y  p   d   v  0.585  f  f   0  f  g  00240    3  -
684  b  40.58   3.290  u  g   m   v  3.500  f  f   0  t  s  00400    0  -
685  b  21.08  10.085  y  p   e   h  1.250  f  f   0  f  g  00260    0  -
686  a  22.67   0.750  u  g   c   v  2.000  f  t   2  t  g  00200  394  -
687  a  25.25  13.500  y  p  ff  ff  2.000  f  t   1  t  g  00200    1  -
688  b  17.92   0.205  u  g  aa   v  0.040  f  f   0  f  g  00280  750  -
689  b  35.00   3.375  u  g   c   h  8.290  f  f   0  t  g  00000    0  -


<li>Our dataset contains both numeric and non-numeric data (specifically data that are of <code>float64</code>, <code>int64</code>, and <code>object</code> types). Specifically, features 2, 7, 10, and 14 contain numeric values (of types float64, float64, int64, and int64, respectively) and all the other features contain non-numeric values.</li>
<li>The dataset also contains values from several ranges. Some features have a value range of 0 to 28, some have a range of 2 to 67, and some have a range of 1017 to 100000.
<li>Finally, the dataset has missing values, which we'll take care of in this task. The missing values in the dataset are labelled with '?', which can be seen in the last cell's output.</li>
</ul>

## Data cleaning

## Question 1

Write a function to clean the given data. The function should:
* Replace the '?'s with NaN.
* Impute the missing values with mean imputation.
* Impute the missing values of non-numeric columns with the most frequent values as present in the respective columns.

_**Function specifications:**_
* Should take a Pandas DataFrame and column name as input and return a list as an output.
* The list should be a count of unique values in the column.

In [259]:
### START FUNCTION
def data_cleaning(data, column_name):
    # # Create a copy of the dataset to work with 
    # dataset = data.copy()

    # # Replace all "?" with NaN 
    # dataset.replace("?", np.nan, inplace=True)

    # # Ensure that numeric cols are actually numeric types for mean calcuations 
    # dataset = dataset.apply(pd.to_numeric, errors="coerce")

    # # Impute the missing values with the mean - ONLY FOR NUMERIC COLS 
    # dataset = dataset.fillna(dataset.mean(numeric_only=True)) 

    # # Impute missing values for the non-numeric cols with with the most occuring word
    # # that is, the mode()
    # for column in dataset.columns:
    #     if dataset[column].dtype == "object":
    #         dataset[column] = dataset[column].fillna(dataset[column].mode()[0])

    # return dataset[column_name].value_counts().to_list()

    data = data.copy()

    # FIRST REPLACE '?' WITH 'NaN'
    data = data.replace("?", np.nan) 

    # IMPUTE THE MISSING VALUES WITH THE MEAN FOR NUMERICAL AND NON-NUMERIC COLUMNS
    if data[column_name].dtype.name in ["object", "category"]:
        data[column_name] = data[column_name].fillna(data[column_name].mode()[0])
        data[column_name] = data[column_name].replace("NaN", data[column_name].mode()[0])
    else:
        data[column_name] = data[column_name].fillna(data[column_name].mean())

    # THE COUNT THE NUMBER OF UNIQUE VALUES IN THE COLUMN 
    num_unique_values = data[column_name].value_counts().to_list()

    return num_unique_values

### END FUNCTION

In [260]:
data_cleaning(df, 0)

[480, 210]

_**Expected outputs:**_
    

>```
data_cleaning(df, 0) == [480, 210]
data_cleaning(df, 9) == [395, 295]
```

## Data preprocessing

## Question 2

Write a function to preprocess the data so that we can run it through the classifier. The function should:
* Convert the non-numeric data into numeric using sklearn's ```labelEncoder```. 
* Drop the features 11 and 13 and convert the DataFrame to a NumPy array.
* Split the data into features and labels.
* Standardise the features using sklearn's ```MinMaxScaler```.
* Split the data into 80% training and 20% testing data.
* Use the `train_test_split` method from `sklearn` to do this.
* Set random_state to equal 42 for this internal method. 

_**Function specifications:**_
* Should take a DataFrame as input.
* The input should be the raw unprocessed DataFrame df.
* Should return two `tuples` of the form `(X_train, y_train), (X_test, y_test)`.

In [265]:
### START FUNCTION
def data_preprocess(df):  
    
    # Convert non numeric data to numeric data using the lable encoder 
    encoder = LabelEncoder() 

    for column in df.columns:
        if df[column].dtype == "object":
            df[column] = encoder.fit_transform(df[column].astype(str)) 

    # Drop features 11, 13
    # Then convert the dataframe to a numpy array 
    new_dataset = df.drop(columns=[11, 13]) 
    target_variable = new_dataset[15]

    # Split into X and Y 
    X = new_dataset.drop(columns=[15])
    y = target_variable

    # Split into X and Y 
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

    # Standardize features using the min max scaler 
    scaler = MinMaxScaler()
    X_train_scaled = scaler.fit_transform(X_train) 
    X_test_scaled = scaler.transform(X_test)
    
    return (X_train_scaled, y_train), (X_test_scaled, y_test)

### END FUNCTION

In [266]:
(X_train, y_train), (X_test, y_test) = data_preprocess(df)
print(X_train[:1])
print(y_train[:1])
print(X_test[:1])
print(y_test[:1])

[[1.         0.25787966 0.51262578 1.         1.         0.42857143
  0.33333333 0.         0.         0.         0.         0.
  0.        ]]
278    1
Name: 15, dtype: int64
[[0.5        1.         0.05695842 0.66666667 0.33333333 0.42857143
  0.33333333 0.         0.         1.         0.02985075 0.
  0.00105   ]]
286    1
Name: 15, dtype: int64

_**Expected outputs:**_

```python
(X_train, y_train), (X_test, y_test) = data_preprocess(df)
print(X_train[:2])
print(y_train[:2])
print(X_test[:2])
print(y_test[:2])
```

> ```
[[1.         0.25787966 0.48214286 1.         1.         0.42857143
  0.33333333 0.         0.         0.         0.         0.
  0.        ]]
[1.]
[[0.5        1.         0.05357143 0.66666667 0.33333333 0.42857143
  0.33333333 0.         0.         1.         0.02985075 0.
  0.00105   ]]
[1.]
```

## Training the model

## Question 3.1

Now that we have formatted our data, we can fit a model using sklearn's `LogisticRegression` class with solver 'lbfgs'. Write a function that will take as input `(X_train, y_train)` that we created previously and return a trained model.

_**Function specifications:**_
* Should take two NumPy `arrays` as input in the form `(X_train, y_train)`.
* The returned model should be fitted to the data.

In [271]:
### START FUNCTION
def train_model(X_train, y_train):
    model = LogisticRegression(solver="lbfgs").fit(X_train, y_train)
    return model

### END FUNCTION

In [273]:
lm = train_model(X_train, y_train)
print(lm.intercept_[0])
print(lm.coef_)

1.514839742801448
[[ 0.25979387 -0.18701022 -0.01813366  1.99770275  0.24198619 -0.29857543
  -0.09665126 -0.86635106 -3.47455659 -1.06840889 -0.83353248  0.07335102
  -1.31987512]]

_**Expected outputs:**_

```python
lm = train_model(X_train, y_train)
print(lm.intercept_[0])
print(lm.coef_)
```
```
1.5068926456005878
[[ 0.25237869 -0.22847881 -0.01779302  2.00977742  0.23903441 -0.29504922
  -0.08952344 -0.83468871 -3.48756932 -1.07648711 -0.83688921  0.07860585
  -1.3077735 ]]
```

## Testing the model

### Question 3.2

AUC – ROC curve is a performance measurement for classification problems at various threshold settings. ROC is a probability curve and AUC represents the degree or measure of separability. It tells how much the model is capable of distinguishing between classes. Write a function which returns the AUC – ROC score of your trained model when tested with the test set.

_**Function specifications:**_
* Should take the fitted model and two NumPy `arrays` `X_test, y_test` as input.
* Should return a `float` of the AUC – ROC score of the model. This number should be between zero and one.

_**Hint:**_  Use the positive class's probability as the score.

In [286]:
### START FUNCTION
def roc_score(lm, X_test, y_test):
    y_predicted = lm.predict(X_test)

    return roc_auc_score(y_test, y_predicted)

### END FUNCTION

In [287]:
print(roc_score(lm,X_test,y_test))

0.832983193277311

_**Expected outputs:**_
    
```python
print(roc_score(lm,X_test,y_test))
```
>```
0.8865546218487395
```

### Question 3.3

Write a function which calculates the accuracy, precision, recall, and F1 scores.

_**Function specifications:**_
* Should take the fitted model and two NumPy `arrays` `X_test, y_test` as input.
* Should return a tuple in the form (`Accuracy`, `Precision`, `Recall`, `F1-Score`).

In [288]:
### START FUNCTION
def scores(lm, X_test, y_test):
    y_predicted = lm.predict(X_test)

    return (accuracy_score(y_test, y_predicted), (precision_score(y_test, y_predicted)), recall_score(y_test, y_predicted), (f1_score(y_test, y_predicted)))

### END FUNCTION

In [289]:
(accuracy, precision, recall, f1) = scores(lm, X_test, y_test)    

print('Accuracy: %f' % accuracy)
print('Precision: %f' % precision)
print('Recall: %f' % recall)
print('F1 score: %f' % f1)

Accuracy: 0.833333
Precision: 0.846154
Recall: 0.808824
F1 score: 0.827068

_**Expected outputs:**_
```python
(accuracy, precision, recall, f1) = scores(lm,X_test,y_test)
    
print('Accuracy: %f' % accuracy)
print('Precision: %f' % precision)
print('Recall: %f' % recall)
print('F1 score: %f' % f1)
```
> ```
Accuracy: 0.833333
Precision: 0.846154
Recall: 0.808824
F1 score: 0.827068
```

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>