In [11]:
import pandas as pd 
import numpy as np

In [4]:
cbs_data = pd.read_excel("D:\Membership Declaration_Dec 2025.xlsx")

In [26]:
qlik_data = pd.read_excel("D:\Untitled - Table - January 12, 2026.xlsx")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (641841058.py, line 1)

In [23]:
cbs_data.head(10)

,BBF Code,Name,Member No,ID No,Date Of Birth,Gender,Status Members,Unnamed: 7
0,PRINCIPLE,PAUL MABWA NDAKALA,0000003,0,1 July 1940,Male,Defaulter,7
1,CHILD,LILIAN M MUTIE,NaN,1,NaN,,NaN,3
2,CHILD,PURITY M MUTIE,NaN,2,NaN,,NaN,3
3,CHILD,GENESIS K MUTIE,NaN,3,NaN,,NaN,3
4,CHILD,VIOLA MUTIE,NaN,4,NaN,,NaN,3
5,PARENT,RUTH SANGULI NDETO,NaN,5,NaN,,NaN,3
6,CHILD,GENESIS MUTIE,NaN,6,NaN,,NaN,3
7,SPOUSE,HURRIET MUTIE,NaN,7,NaN,,NaN,3
8,PRINCIPLE,Mr JACKTON KOLA,0000010,NaN,NaN,,Closed,4
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0